body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body {
    background-color: white;
    color:black;
}

.vss-container {
    content:"";
    display:table;
    clear:both;
    padding:0.01em 16px;
}

.vss-center {
    text-align: center;
   /* display:inline-block;width:auto*/
}

.vss-row {
    padding:0 8px
}

.vss-third {
    float:left;
    width:33.33333%
}

.vss-large {
    font-size: 18px !important
}

.vss-quarter {
    float: left;
    padding: 30px;
    width:24.99999%;
}

.vss-jumbo {
    font-size:64px!important
}

.vss-grayscale {
    filter:grayscale(75%);
}

.vss-col {
    float:left;
    width:33.33333%;
}


.vss-margin-bottom{
    margin-bottom:16px!important;
}

.vss-card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.vss-opacity{
    opacity:0.60;
}

.vss-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;


}

.vss-button:hover{
    color:#000!important;
    background-color:#ccc!important
}

.vss-light-grey{
    color:#000!important;background-color:#f1f1f1!important
}

.vss-block{
    display:block;
    width:100%;
}

.vss-card i{
    border-style: hidden;
}


.github-link{
    padding: 10px;
}

.github-link p > a {
    border-style: hidden;
    text-decoration: none;
    color:black;
}