body {
    background-color: #404040;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    height: 100%;
}


li.link{
    cursor: pointer;

}
.leaderboard-content, .top-stocks-content{
    color:white!important;
    font-weight: bold;
}

button {
    background-color: #e7e7e7;
    color:black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bebas Neue';font-size: 25px;
    cursor: pointer;

}

button:hover{
    background-color: gray;
    color:white;
}

#top-stocks-title{
    position: fixed;
    right: 100px;
    top: 80px;
}

#leaderboard-title{
    position: fixed;
    left: 50px;
    top:80px;

}