.loading-wheel-container
{
    z-index: 1000;
    position: fixed;
    bottom: 4px;
    left: 4px;
    display: inline-block;
    text-align: center;
}

.loading-wheel
{
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #404040; /* Dark Grey */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading-wheel-spin 2s linear infinite;
    display: inline-block;
}

.loading-wheel-message
{
    display: inline;
    position: relative;
    bottom: 25px;
}

@keyframes loading-wheel-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}