
body {
    color: whitesmoke;
    background-color: #404040;
    text-align: center;
    font-family: 'Bebas Neue';font-size: 25px;
    letter-spacing: 3px;
}

.bg-img{
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Image retrieved from https://wallpaperaccess.com/skyline-at-night*/
    background-image: url("../_view/resources/images/login/nyc2.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    border-style: hidden;
    animation-name: saturation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes saturation {
    from {-wekit-filter: invert(0);}
    to {-webkit-filter: invert(.2);}
}

.header {
    font-size: 20px;
}


.login-credentials {
    padding-bottom: 100px;
    padding-top: 50px;
}

.create-account {
    color:white;
    font-size: 20px;
    padding-bottom: 50px;
}

.error {
    color: red;
}


input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
    }
input::-moz-placeholder {
    color: rgba(255,255,255,0.7);
}

input::-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
    }
input:focus {
    outline: 0 transparent solid;
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
}
::-moz-placeholder {
    color: rgba(255,255,255,0.7);
}
:-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
    }
button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bebas Neue';font-size: 25px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
    color:white;
}

input[type=submit] {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Bebas Neue';font-size: 25px;
}

input[type=submit]:hover {
    background-color: gray;
    color:white;
}


.login-form {
    background: #222;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    min-height: 10rem;
    margin: auto;
    max-width: 50%;
    padding: .5rem;
    padding-bottom: 40px!important;
    width: 20%;
    font-family: 'Open Sans';
    font-weight: 100;
    display: compact;
    overflow: hidden;
}

.username, .password {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255,255,255,0.7);
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
}

.username .password:hover,:focus{
    background: white;
    transition: 250ms background ease-in;
    color:black;
}


.login-text {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
    text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
}
.fa-stack-1x {
    color: black;
}


