body{
    background-color: black;
    border: 2px white;
}

.vss-panel {
    margin-top: 50px;
    margin-left: 3%;
    width:100%;
    color:white;
    background: none;




}


.vss-panel-heading{
    width: 100%;
    border-bottom: 0;
    padding: 0;
    position: relative;
}

.vss-panel-heading + .vss-panel-collapse > .vss-panel-body {
    border-top: 1px solid #000000;
}


.vss-panel-collapse .vss-panel-body {
    border-bottom: 1px solid #000000;
}

.vss-panel {
    box-shadow: none !important;
    border: 0;
}

.vss-panel-title > a {
    padding: 10px 15px;
    display: block;
    font-size: 13px;
    cursor: pointer !important;
    background-color: transparent;
    text-decoration: none !important;
    color: white;
}

.vss-panel-heading span{
    color: white;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
}


.vss-panel-collapse .vss-panel-heading .vss-panel-title > a {
    padding: 8px 5px 16px 30px;
    color: rgb(94, 94, 94);
    position: relative;
}

.vss-panel-collapse .vss-panel-heading .vss-panel-title > a:after,
.vss-panel-collapse .vss-panel-heading .vss-panel-title > a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.vss-panel-collapse .vss-panel-heading .vss-panel-title > a:after {
    background: #ffffff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.vss-panel-collapse .vss-panel-heading:not(.active) .vss-panel-title > a:before {
    background: #000000;
}

.vss-panel-collapse .vss-panel-heading:before,
.vss-panel-collapse .vss-panel-heading:after {
    font-size: 27px;
    position: absolute;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    top: 8px;
    left: 40px;
}

.vss-panel-collapse .vss-panel-heading:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
}


.vss-panel-collapse .vss-panel-heading:after {
    transform: rotate(270deg);
}

.vss-panel-collapse .vss-panel-heading.active .vss-panel-title > a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.vss-panel-collapse .vss-panel-heading.active:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.vss-panel-collapse .vss-panel-heading.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.vss-panel-collapse .vss-panel-body {
    border-top: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}



.vss-panel-body {
    width: 75%;
}

.vss-panel-heading > .vss-dropdown .vss-dropdown-toggle {
    color: inherit;
}

.vss-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.vss-panel-title > a,
.vss-panel-title > small,
.vss-panel-title > .small,
.vss-panel-title > small > a,
.vss-panel-title > .small > a {
    color: inherit;
}

.modal-body textarea{
    font-weight: bold;
}


#stock-invest-dropdown.dropdown{
    width:45%!important;
}