body{
    background-color: black;
    border: 2px white;
}

.panel {
    margin-top: 50px;
    margin-left: 3%;
    width:50%;
    color:white;
    background: none;
}


.panel-heading{
    width: 100%;
    border-bottom: 0;
    padding: 0;
    position: relative;
}

.panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #000000;
}


.panel-collapse .panel-body {
    border-bottom: 1px solid #000000;
}

.panel {
    box-shadow: none !important;
    border: 0;
}

.panel-title > a {
    padding: 10px 15px;
    display: block;
    font-size: 13px;
    cursor: pointer !important;
    background-color: transparent;
    text-decoration: none !important;
    color: white;
}

.panel-heading span{
    color: white;
    padding: 0px 100px 0px 100px;
}


.panel-collapse .panel-heading .panel-title > a {
    padding: 8px 5px 16px 30px;
    color: rgb(94, 94, 94);
    position: relative;
}

.panel-collapse .panel-heading .panel-title > a:after,
.panel-collapse .panel-heading .panel-title > a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.panel-collapse .panel-heading .panel-title > a:after {
    background: #ffffff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.panel-collapse .panel-heading:not(.active) .panel-title > a:before {
    background: #000000;
}

.panel-collapse .panel-heading:before,
.panel-collapse .panel-heading:after {
    font-size: 27px;
    position: absolute;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    top: -4px;
    left: 50px;
}

.panel-collapse .panel-heading:before {
    content: "\002B";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.panel-collapse .panel-heading:after {
    content: "\002D";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.panel-collapse .panel-heading.active .panel-title > a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.panel-collapse .panel-heading.active:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.panel-collapse .panel-heading.active:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.panel-collapse .panel-body {
    border-top: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
}



.panel-body {
    width: 75%;
}

.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}
