body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body {
    background-color: white;
    color:black;
}

.container {
    content:"";
    display:table;
    clear:both;
    padding:0.01em 16px;
}

.center {
    text-align: center;
   /* display:inline-block;width:auto*/
}

.row {
    padding:0 8px
}

.third {
    float:left;
    width:33.33333%
}

.large {
    font-size: 18px !important
}

.quarter {
    float: left;
    padding: 30px;
    width:20.99999%;
}

.jumbo {
    font-size:64px!important
}

.grayscale {
    filter:grayscale(75%);
}

.col {
    float:left;
    width:33.33333%;
}


.margin-bottom{
    margin-bottom:16px!important;
}

.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.opacity{
    opacity:0.60;
}

.button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;


}

.button:hover{
    color:#000!important;
    background-color:#ccc!important
}

.light-grey{
    color:#000!important;background-color:#f1f1f1!important
}

.block{
    display:block;
    width:100%;
}