body{
    background-color: #404040;
    color:white;
    text-align: center;
    font-family: "Lato", sans-serif;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../_view/resources/images/login/createAccount.jpg");
}

.create-an-account{
    font-family: "Lato", sans-serif;
    font-size: 35px;
}

h1{
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

input {
    border: none;
    padding: 10px;
    background-color: white;
}
input.sign-up, label.sign-up {
    padding: 20px;
    border-radius: 25px;
}

input:focus {
    outline: 0 transparent solid;
}

.return-to-home {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
}

.sign-up {
    padding-top:50px;
}

label{
    letter-spacing: 1px;

}


button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 4px;
}

button:hover{
    background-color: gray;
    color:white;
}

input[type=submit] {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 4px;
}

input[type=submit]:hover{
    background-color: gray;
    color:white;
}

label{
    padding-top: 10px;
}

.error {
    color: red;
}