body{
    background-color: #404040;
    color:white;
    text-align: center;
}



h1{
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

input.sign-up, label.sign-up {
    padding: 20px;
}

.return-to-home {
    font-size: 20px;
    margin-top: 7%;
}

form {
    padding:70px;
}
