body {
    background-color: #404040;
    color:white;
    text-align: center;
    font-family: "Lato", sans-serif;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-image: url("../../_view/resources/images/home/homebg.jpg");
}

/* Placing Button in upper left */
.createAccountBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile-menu{
    color:black;
    position: absolute;
    top:30px;
    right:100px;
}

.dropdown-menu{
    width: 100px!important;
}

li.link{
    cursor: pointer;
}

.leaderboard {
    float: left;
    width: 33.3%;
    padding-top: 30px;
    padding-bottom: 120px;
    margin-top: 12%;
    margin-bottom: 5%;
}

.top-stocks {
    margin-top: 12%;
    float: left;
    padding-top: 30px;
    padding-bottom: 120px;
    width: 33.3%;
}


.header {

}


button {
    background-color: #e7e7e7;
    color:black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bebas Neue';font-size: 25px;
    cursor: pointer;

}

button:hover{
    background-color: gray;
    color:white;
}