body {
    color:white;
    text-align: center;
    font-family: "Lato", sans-serif;
}


.bg-img{
    position: absolute;
    left: 0;
    top: 0;
    /*Obtained from shutterstock - 16504738*/
    background-image: url("../../_view/resources/images/login/VSS_Background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(0px);
    z-index: -1;
    border-style: hidden;
    animation-name: blur-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes blur-out {
    from {-webkit-filter: blur(0px);}
    to {-webkit-filter: blur(8px);}
}


.header {
    margin-bottom: 5%;
    font-size: 20px;
}


button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: gray;
    color:white;
}

.invest{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.buttons {
    margin-bottom: 10%;

}

.header {
    padding-top: 150px;
}


