body {
    background-color: #404040;
    color:white;
    text-align: center;
}



.header {
    font-size: 30px;
}

.login-credentials {
    padding:5px;
}

.create-account {
    font-size: 30px;
    margin-top:8%;
}

.error {
    color: red;
}