body {
    background-color: #404040;
    color:white;
    text-align: center;
    font-family: "Lato", sans-serif;
}
h3{
    color:green;
    text-align: center;
}


.bodytext{
    text-align: center;
}
